/*//////////////////////////////////////////////////////////////////
[ FONT ]*/
@font-face {
  font-family: Poppins-Light;
  src: url('../fonts/poppins/Poppins-Light.ttf');
}

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #2196f3;
  margin: 0px;
  transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #064b82;
}

/*---------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

body {
  height: 100%;
  margin: 0 !important;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  background-image: url("../media/img/login-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom right;
}

body::before {
  margin: 0 !important;
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(93, 84, 240, .5);
  background: -webkit-linear-gradient(left, rgba(0, 168, 255, 0.5), rgba(185, 0, 255, 0.5));
  background: linear-gradient(left, rgba(0, 168, 255, 0.5), rgba(185, 0, 255, 0.5));
  box-shadow: 1px 4px 20px 6px rgb(0 0 0 / 18%);
}

.container {
  /* position: relative; */
  z-index: 1;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/
.boxLogin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  width: 450px;
  border-radius: 10px;
  overflow: hidden;
}

/*set border to the form*/
form {
  background-color: #f1f1f1;
  border: 3px solid #f1f1f1;
  width: 100%;
  height: 450px;
  padding: 8%;
}

#titleForm {
  text-shadow: 2px 2px 9px #86868687;
  text-align: center;
  margin-bottom: 20px;
}

/*assign full width inputs*/
input[type=text],
input[type=password] {
  width: 100%;
  padding: 15px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
}

input:focus {
  border: 1px solid #5e696f;
  transition: all 0.3s;
  box-shadow: -1px 1px 20px 1px rgb(0 0 0 / 30%);
}

input:hover {
  border: 1px solid #5e696f;
}

::placeholder {
  font-family: Poppins-Light;
  font-size: 14px;
}

/*set a style for the buttons*/
button {
  font-family: Poppins-SemiBold;
  font-size: 20px;
  background-color: #4CAF50;
  border-radius: 15px;
  color: white;
  padding: 8px 20px;
  margin: 10px 0;
  border: none;
  opacity: 0.80;
  cursor: pointer;
  width: 100%;
}

/* set a hover effect for the button*/
button:hover {
  opacity: 1;
  transition: all 0.3s;
  box-shadow: 0px 5px 17px 4px rgb(76 175 80 / 51%);
}

/*set padding to the container*/
.forgetcontainer {
  padding-top: 30px;
  width: 100%;
  align-items: center;
  text-align: center;
}

/*set styles for span and cancel button on small screens*/
@media screen and (max-width: 300px) {
  span.pass {
    display: block;
    float: none;
  }
}